.ToolsBar-header{
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    box-sizing: border-box;
    background:#f25555;
}

.Title{
    color:white;
    font-size:25px;
    margin:auto;
}